.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.babylonScene {
  display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 10%;

  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  font-size: 0.875rem;

  transition: all 0.25s ease-in-out;

  pointer-events: none;
  white-space: nowrap;
}

.isDragging {
  .overlay {
    opacity: 1;
    outline: 2px dashed #00aaff;
  }
}
